/*
   statusbar-overlay sets the background color for the overlay. Black text is the default when the statusbar plugin is not added. When the
   statusbar plugin is added, it also adds default setting to make the content white via:

       <preference name="StatusBarStyle" value="lightcontent"/>

   Setting the background color to black will allow the default light content (white text/icons) to show on it. The statusbar plugin is included
   in the config.xml file and will be added by the CLI when you build locally.

   See https://github.com/apache/cordova-plugin-statusbar
*/

body{
	margin: 0px;
	padding: 0px;
	width: 100%;
	overflow-x: hidden;
}

.header{
	position: absolute;
	top: -20px;
	padding-top: 50px;
	width: 100%;
	height: 40%;
	text-align: center;
	color: white;
}

.menu{
	height: 100%;
	width: 0%;
	background-color: darkgrey;
	z-index: 100;
	overflow: hidden;
	text-align: center;
	position: fixed;
	top: 0px;
}

.nav{
	width: 100%;
	position: fixed;
	top: 0px;
	left: 0px;
	padding: 10px;
	z-index: 100;
	background: linear-gradient(black 20%,transparent 100%);
}

.container{
	width: 100%;
	overflow-x: hidden;
	position: absolute;
	top: 315px;
	background-color: whitesmoke;
	color: black;
	/* background: linear-gradient(transparent 10%, black 100%); */
}

.profilePic{
	width: 140px;
	height: 140px;
	border-radius: 70px;
	background-color: black;
	position: relative;
	left: 30%;
}

.featured{
	position: absolute;
	top: 0px;
	width: 100%;
	height: 100%;
	text-align: center;
	background-color: black;
	color: white;
}

.card{
	width: 100%;
	position: relative;
	border-radius: 5px;
	background-color: whitesmoke;
	box-shadow: 3px 3px 10px 1px #444444;
	padding: 10px;
	margin-top: 10px;
	margin-bottom: 15px;
}

.mathHome{
    margin-top: 90px;
    width: 260px;
    height: 70%;
    position: absolute;
    top: 10px;
    left: 50px;
    border-radius: 20px;
    overflow: hidden;
    padding: 0px;
}

/*.header{
    font-size: 30px;
    margin: 0px;
    background-color: #222277;
    height: 50px;
    width: 100%;
}*/


.left{
	position: relative;
	top: 0px;
}

.event{
	position: relative;
	width: 45%;
	height: 190px;
	margin: 8px;
	float: left;
	background-color: white;
	box-shadow: 1px 1px 10px 0px black;
	padding: 0px;
	border-radius: 5px;
	text-align: center;
	overflow: hidden;
}

.headliners{
	position: absolute;
	width: 280px;
	height: 280px;
	margin: 8px;
	background-color: white;
	box-shadow: 1px 1px 10px 0px black;
	padding: 0px;
	border-radius: 5px;
	text-align: center;
	overflow: hidden;
}

hr{
	border: 1px solid black;
}

.party{
	position: relative;
	width: 95px;
	height: 100px;
	margin: 9px;
	float: left;
	background-color: white;
	box-shadow: 1px 1px 10px 0px black;
	padding: 0px;
	border-radius: 5px;
	text-align: center;
	overflow: hidden;
}

.badge{
	float: right;
	height: 23px;
	width: 30px;
	text-align: center;
	display: table-cell;
	vertical-align: middle;
	color: bisque;
	border-radius: 15px;
	margin-right: 20px;
}

.name{
	position: absolute;
	z-index: 20;
	color: white;
	top: 180px;
	left: 10px;
}

h2{
	margin: 0px;
	margin-top: 0px;
	padding: 0px;
	font-family: sans-serif;
	font-weight: 100;
}

a{
	text-decoration: none;
	color: black;
}

.progress{
	background-color: aliceblue;
	height: 20px;
	width: 90%;
	border-radius: 10px;
	overflow: hidden;
}

.progressBar{
	height: 100%;
	width: 80%;
	background-color: dodgerblue;
}